<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main-layout}">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content" class="sc bg-athens-gray">
    <main class="sc h-100 pt-6em">
        <div class="container">
            <div class="sc row pt-2em">
                <h3 class="sc col-12 h3 text-silver font-weight-bold" th:text="#{sc.Dashboard}">Dashboard</h3>
            </div>

            <div class="sc row pt-2em">
                <div class="sc col-lg-4 col-12 pt-1em">
                    <div class="sc bg-white round-1 px-2em py-2em shadow-1">
                        <div class="row">
                            <div class="col-5">
                                <i class="sc fas fa-envelope-open-text fa-4x text-yellow"></i>
                                <h5 class="sc h5 pt-1em font-weight-bold text-storm-grey" th:text="#{sc.today}">today</h5>
                            </div>

                            <div class="col-7 text-right">
                                <h5 class="sc h5 font-weight-bolder" th:text="${requestingPermission} eq null ? 'None': ${requestingPermission}">
                                    <!--requesting permission-->
                                </h5>
                                <h6 class="sc h6" th:text="#{sc.requesting-permission}">requesting permission</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sc col-lg-4 col-12 pt-1em">
                    <div class="sc bg-white round-1 px-2em py-2em shadow-1">
                        <div class="row">
                            <div class="col-5">
                                <i class="sc fas fa-clock fa-4x text-orange"></i>
                                <h5 class="sc h5 pt-1em font-weight-bold text-nowrap text-storm-grey" th:text="#{sc.LastWeek}">last week</h5>
                            </div>

                            <div class="col-7 text-right">
                                <h5 class="sc h5 font-weight-bolder" th:text="${requestedPermission} eq null ? 'None': ${requestedPermission}">
                                    <!--requested permission-->
                                </h5>
                                <h6 class="sc h6" th:text="#{sc.requsted-permission}">requested permission</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sc col-lg-4 col-12 pt-1em">
                    <div class="sc bg-white round-1 px-2em py-2em shadow-1">
                        <div class="row">
                            <div class="col-5">
                                <i class="sc fas fa-user fa-4x text-purple"></i>
                                <h5 class="sc h5 pt-1em font-weight-bold text-nowrap text-storm-grey" th:text="#{sc.LastMonth}">last month</h5>
                            </div>

                            <div class="col-7 text-right">
                                <h5 class="sc h5 font-weight-bolder" th:text="${mostLate} eq null ? 'None': ${mostLate}">
                                    <!--fullname-->
                                </h5>
                                <h6 class="sc h6" th:text="#{sc.most-late}">most late</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>