<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main-layout}">
<head>
    <title>Confirm</title>
</head>
<body>
<div layout:fragment="content" class="sc bg-pickled-bluewood h-100">
    <main class="sc h-100">
        <div class="container h-100">
            <div class="sc row h-100 d-flex justify-content-center align-items-center">
                <div class="sc col-md-5 col-sm-6 col-7 bg-white round-1">
                    <div class="sc row d-flex justify-content-center">
                        <form class="col-10">
                            <div class="sc row pt-3em">
                                <div class="col-12 text-center pb-1em">
                                    <i class="fas fa-fingerprint fa-5x"></i>
                                </div>
                                <h3 class="sc col-12 pt-sm h3 text-dark font-weight-bold text-center">Confirm Code</h3>
                                <p class="sc col-12 body-1 text-center pt-sm">We have sent a reset code to the <span class="font-weight-bold">John...@gmail.com</span> address that was originally
                                    register.</p>
                            </div>

                            <div class="sc row pt-1em">
                                <label class="sc sub-title-1" for="text_code">Code</label>
                                <input class="sc form-control sub-title-1" id="text_code" name="code" type="text" aria-describedby="email_address_help" placeholder="code">
                                <small class="sc form-text text-muted caption pt-sm" id="code_help">MESSAGE</small>
                            </div>

                            <div class="sc row pt-2em pb-3em">
                                <a class="sc btn btn-primary btn-block text-button text-nowrap" th:href="@{/reset}" role="button">Reset Password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>


